---
import Layout from "../layouts/Layout.astro";
import { Content as About } from "./about.md";
---

<Layout title="About">
        <div class="prose mb-24">
            <About/>
        </div>
</Layout>
