---
import SingleProjectPreview from "../components/singleProjectPreview";
import Layout from "../layouts/Layout.astro";

---

<Layout title="NotNullDev.com">
    <div class="flex flex-1 justify-around gap-6">
        <SingleProjectPreview
            title="E-commerce"
            description="Simple e-commerce site built with Next.js, prisma, trpc, tailwind, nextauth, stripe and daisyui."
            imageUrl="/e-com.png"
            linkUrl="https://e-com.notnulldev.com/"
            />
        <SingleProjectPreview
            title="Chat"
            description="Most basic chat using svelte, tailwindcss, daisyui and pocketbase."
            imageUrl="/svelte-pocketbase-chat.png"
            linkUrl="https://svelte-pocketbase-chat.notnulldev.com/"
            />

    </div>
</Layout>
