---
import Navbar from "../components/navbar";

export interface Props {
  title: string;
}

const { title } = Astro.props;
---

<!DOCTYPE html>
<html lang="en" data-theme="dark" class="w-[100vw]">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="generator" content={Astro.generator} />
    <title>{title}</title>
  </head>
  <body class="flex flex-col box-border">
    <Navbar />
    <div class="flex flex-1 flex-col py-6 items-center">
      <slot />
    </div>
  </body>
</html>
